{{#partial "contenido"}}

<form action="/login" method="POST">
<div class="row" style="padding-top: 10%">	
	<div class="col-xs-4"></div>
	<div class="col-xs-4">
	<input class="form-control" "type="text" name="usuario" placeholder="Usuario"/>
	</span><input class="form-control" type="password" name="pass" placeholder="Contraseña"/>
	<input class="btn btn-success btn-block" type="submit" value="Log In"/></div>
	<div class="col-xs-4"></div>
</div>
</form>
  	
{{/partial}}

{{>PaginaBase.hbs}}