<html>

<body>
<h1>{{nombre}} - Comuna {{comuna.numero}} ({{comuna.nombre}})</h1>

<form id="loginform" action="/terminal/lugares" method="GET">
<input type="hidden" name="id" value="{{id}}">
<p><strong> Ingresar Texto Para Encontrar Lugares</strong></p>
<input class="input" placeholder="ej. colectivo" name="textoLibre">
<input type="submit" class="button" value="Buscar" />
</form>
<link rel="stylesheet" type="text/css" href="/css/estilo.css">

</body>
</html>