<html>
<body>
<h1><strong>Lugares Encontrados</strong></h1>

<table class="table table-stripped">
    <tr>
        <th>Nombre</th>
        <th>direccion</th>  
        <th></th>
    </tr>
    
    {{#each pois}}
        <tr>
            <td>{{nombre}}</td>  
            <td>{{direccion}}</td>
            <td><a href="{{url}}"><strong>Ver</strong></a><td>
        </tr>
    {{/each}}
</table>
	<link rel="stylesheet"  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/css/estilo.css">
</body>
</html>