<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<script src="/js/jquery-3.1.1.min.js" type="text/javascript"></script>
</head>
<body>

<nav class="navbar navbar-default">
</nav>

<div class="container">
	{{#block "contenido"}}
	{{/block}}
</div>
<hr>
<footer class="footer">
    <div class="container">
        <div class="row">
            <img class="center-block img-responsive" src="/imagenes/logo_utn.png" style="width=50%">
            <p class="text-center">Trabajo práctico de Diseño de Sistemas - 2016</p>
        </div>
    </div>
</footer>
</body>
</html>