{{#partial "contenido"}}


<form action="historico/filtro" method="GET" id="formFiltroTerminal">
<select class="form-control" id="cmbFiltros" name="terminales">
	<option value="">Mostrar todas las terminales</option>
	{{#each terminales}}
		<option value="{{nombre}}">{{nombre}}</option>
	{{/each}}
</select>

<input type="date" class="form-control" id="txtFecha1" name="fechaInicial"/>
<input type="date" class="form-control" id="txtFecha2" name="fechaFinal"/>
<input type="number" class="form-control" id="txtNum" name="cantResultados"/>
<button type="submit" class="btn btn-primary">Filtrar</button>
</form>


{{/partial}}

{{>Administrador/PaginaBaseAdministrador.hbs}}
