<html>

<body>


<form id="loginform" action="/poisEncontrados" method="GET">
<input class="input" readonly="readonly" value="Terminal UTN Campus"  name="nombre"/>
<input class="input" readonly="readonly" value="Comuna 12"  name="comuna" />
<p><strong> Ingresar Texto Para Encontrar Lugares</strong></p>
<input class="input" placeholder="ej. colectivo" name="textoLibre">
<input type="submit" class="button" value="Buscar" />
</form>
<link rel="stylesheet" type="text/css" href="css/estilo.css">

</body>
</html>