<html>
<h1>POIs encontrados</h1>

<table class="table table-stripped">
    <tr>
        <th>Nombre</th>
        <th>Longitud</th>
        <th>Latitud</th>        
        <th></th>
    </tr>
    
    {{#each pois}}
        <tr>
            <td>{{nombre}}</td>   
            <td>{{coordenadas.longitud}}</td>
            <td>{{coordenadas.latitud}}</td>        
            <td><a href="{{url}}">Ver</a><td>
        </tr>
    {{/each}}
</table>
</html>