{{#partial "navbar"}}
<nav class="navbar navbar-default">
	<ul class="nav navbar-nav">
		<li><a href="../../terminales">Administración de terminales</a></li>
		<li><a href="../../puntosDeInteres">Administración de POIs</a></li>
		<li><a href="../../historico">Histórico de consultas</a></li>		
	</ul>
</nav>
{{/partial}}

{{>PaginaBase.hbs}}